<div class="gallery">
    <div class="row">
        {loop: $gallery.items}
        {? $value = (array) $value ?}
        {if: $counter != 0 && $counter % 3== 0}
        <div class="w-100 mb-4"></div>
        {/if}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {* image sizes: lg - original size, md - 600px, sm - 300px, xs - 150px *}
                <a href="{?=url($value.src.lg)?}" class="glightbox"
                   data-title="{if: $value.title}{$value.title}{/if}" data-desc-position="right">
                    <img src="{?=url($value.src.sm)?}" alt="{if: $value.title}{$value.title}{/if}"
                         class="img-responsive">
                </a>
                {if: $value.desc}
                <div class="glightbox-desc">
                    <p>{$value.desc}</p>
                </div>
                {/if}
            </div>
        </div>
        {/loop}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true
        });
    });
</script>
