<a href="{$ical_all_href}" title="{$lang.events.ical_all}" name="export" class="btn btn-info mb-1"><i class="fas fa-download"></i> {$lang.events.ical_all}</a>
<div id='calendar'></div>
<script>
    let eventsJson = JSON.parse('{$eventSources}');

    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');

        const calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: '{$time_zone}',
            locale: '{$locale}',
            themeSystem: 'bootstrap5',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            weekNumbers: false,
            dayMaxEvents: true, // allow "more" link when too many events
            eventSources: eventsJson
        });

        calendar.render();
    });
</script>
