<div class="event-details">
    <div class="event-back-button">
        <a href="{$calendar_url}">
            <i class="fa fa-chevron-left"></i>
            Retour au calendrier
        </a>
    </div>

    {if: isset($event.picture) && !empty($event.picture)}
    <div class="event-picture">
        <img src="{?= url('uploads/events/'.$event.picture) ?}"/>
    </div>
    {/if}

    <div class="event-description-container">
        {if: $hasMap}
            <div class="map-container ms-2">
                <div id="event-{$event.id}-map" class="event-map"></div>
                <p class="text-center">{$event.building_name}<br/>{$event.building_address}</p>
            </div>
        {/if}

        {$event.description}
        {if: isset($event.channel_name) && !empty($event.channel_name)}
        {$lang.events.see_it_on}
        <a href="https://www.twitch.tv/{$event.channel_name}">
            <i class="fab fa-twitch" aria-hidden="true"></i> {$event.channel_name}
            <div data-twitch-status="{$event.channel_name}"></div>
        </a><br/>
        {/if}
        {if: isset($event.ical_url) && !empty($event.ical_url)}
        <a href="{$event.ical_url}">{$lang.events.ical}</a>
        {/if}
    </div>
    
    {if: isset($event.items) && !empty($event.items)}
    <table class="table table-bordered text-small mt-4">
        <thead>
        <tr>
            <th scope="col">{$lang.events.hour}</th>
            {loop: $event.columns}
            <th scope="col">{$value}</th>
            {/loop}
        </tr>
        </thead>
        <tbody>
        {loop: $event.items}
        <tr>
            {if: isset($value.text)}
            <td colspan="4">
                <span class="fw-bold">{$value.text}</span>
            </td>
            {else}
            <td>{$value.start}</td>
            {loop: $value.columns}
            <td>{$value}</td>
            {/loop}
            {/if}
        </tr>
        {/loop}
        </tbody>
    </table>
    {elseif: isset($value.horaro_url)}
    <br/>
    Planning à venir.
    {/if}
</div>
{if: $hasMap}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let latitude = {$event.latitude};
        let longitude = {$event.longitude};
        let map = L.map('event-{$event.id}-map').setView([latitude, longitude], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([latitude, longitude]).addTo(map)
            .bindPopup('{$event.database_name}')
            .openPopup();
    });
</script>
{/if}
